@{
	ViewData["Title"] = ViewBag.Title;
}
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@inject RenderGalleyRazor.Models.DatabaseContext dbContext;

@{
	var user_id = 0;
	if (SignInManager.IsSignedIn(User))
	{

		var user = dbContext.Users.Where(x => x.Email == User.Identity.Name).FirstOrDefault();
		user_id = user.Id;
	}
}
<style>
	.btn-order {
		color: white !important;
	}
</style>

<div class="site-section" data-aos="fade">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Meus Pedidos</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Número</th>
								<th>Total</th>
								<th>Status</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							@if(ViewBag.pedidos != null)
							{
								foreach(var pedido in ViewBag.pedidos)
								{
									<tr>
										<th scope="row">#@pedido.Id</th>
										<td>@pedido.total_formatted</td>
										
										@if(pedido.Status == 0)
										{
											<td><a disabled href="#" class="btn btn-warning btn-order ">Processando</a></td>
										}
										else
										{
											<td><a disabled href="#" class="btn btn-success btn-order ">Liberado</a></td>
										}

										<td><a href="~/Pedidos/Details/@pedido.Id" class="btn btn-primary btn-order "> <i class="fa fa-eye"></i> Ver</a> </td>
									</tr>

								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
