<div class="site-section" data-aos="fade">
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-7">
                <div class="row mb-5">
                    <div class="col-12 ">
                        <h2 class="site-section-heading text-center">Sobre Nós</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col-md-6">
                <img src="~/images/icon.gif" alt="Images" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3 class="text-white">Nossa missão</h3>
                <p>Bem-vindo à Render Gallery, onde a expressão digital encontra seu lar. Nós somos mais do que uma plataforma de comercialização de arte digital; somos uma comunidade vibrante, unindo artistas visionários e apreciadores de arte em uma jornada única de descobertas e inspiração.</p>
                <p>Na Render Gallery, acreditamos apaixonadamente na capacidade da arte digital de transcender fronteiras e criar conexões significativas. Nossa missão é proporcionar um espaço inovador para artistas digitais prosperarem, compartilharem suas criações excepcionais e, ao mesmo tempo, conectar colecionadores com obras de arte que transcendem a imaginação.</p>
            </div>
        </div>


        <div class="row site-section">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
                <img src="~/images/pedro.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-white font-weight-light mb-4">Pedro Vinicios</h2>
                <p class="mb-4">Desenvolvedor Back-End</p>
                <p>
                    <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/pedro_vinicios2/?hl=pt-br" target="_blank class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
                <img src="~/images/marcelo.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-white font-weight-light mb-4">Marcelo Augusto</h2>
                <p class="mb-4">Desenvolvedor Back-End</p>
                <p>
                    <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/marceloarc96/?hl=pt-br" target="_blank class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
                <img src="~/images/kevin.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-white font-weight-light mb-4">Kevin Rodrigo</h2>
                <p class="mb-4">Desenvolvedor Front-End</p>
                <p>
                    <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/kev1n_x/?hl=pt-br" target="_blank class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>
