@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using RenderGalleyRazor.Models;
@inject RenderGalleyRazor.Models.DatabaseContext dbContext

@{
    var user_id = 0;
    var planos = dbContext.Planos.ToList();
    if (SignInManager.IsSignedIn(User))
    {

        var user = dbContext.Users.Where(x => x.Email == User.Identity.Name).FirstOrDefault();
        user_id = user.Id;
    }
}

<main class="main flow">
    <h1 class="main__heading">Preços</h1>
    <div class="main__cards cards">
        <div class="cards__inner">

            @foreach (var plano in planos)
            {
                <div class="cards__card card">
                    <h2 class="card__heading">@plano.Nome</h2>
                    @if (plano.Preco == 0)
                    {
                        <p class="card__price">Gratuito</p>
                    }
                    else
                    {
                        <p class="card__price">@plano.Preco,00</p>
                    }

                    <ul role="list" class="card__bullets flow">
                    @foreach (var vantagem in plano.Vantagens)
                    {
                        <li>@vantagem.descricao</li>
                    }
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = dbContext.Users.Where(x => x.Email == User.Identity.Name).FirstOrDefault();
                        if (user != null && user.plano_id == plano.Id)
                        {
                            <span class="card__cta cta">Já Adquirido</span>
                        }
                        else
                        {
                            <a href="#basic" class="card__cta cta">Adquira já</a>
                        }
                    }
                    else
                    {
                        <a href="#basic" class="card__cta cta">Adquira já</a>
                    }
                </div>
            }

        <div class="overlay cards__inner"></div>
    </div>
</main>

<script src="~/js/planos.js"></script>
